@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background-color-01: #101010;
  --font-color-01: #bdbdbd;
  --font-color-02: #eee;
  --gradient-accent-01: #f8403330;
  --font-accent-01: #f84033;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: var(--font-color-01);
  background-color: var(--background-color-01);
}

h1, h2, h3, h4, h5 {
  color: var(--font-color-02);
}

article a {
  color: var(--font-accent-01);
}

a:hover, li:hover {
  color: var(--font-color-02);
}

input {
  padding: 4px 12px;
  border-radius: 8px;
  color: black;
  background-color: #eee;
}

input:focus {
  outline: none;
}

pre {
  overflow: auto !important;
  max-width: 100%;
  padding: 16px;
  background-color: #000;
  border-radius: 16px;
  margin: 16px 0px;
  line-height: 1.25rem;
}

code {
  background-color: #000;
  padding: 8px;
  border-radius: 8px;
}

pre > code {
  padding: 0;
  line-height: 1.25rem;
}

.svg-white, svg {
  fill: var(--font-color-02) !important;
  filter: grayscale(1) saturate(1) brightness(7);
  color: var(--font-color-02) !important;
}

.top-gradient {
  background: linear-gradient(var(--gradient-accent-01), var(--background-color-01) 15vh);
}

.h1-toc {
  padding-left: 0;
}

.h2-toc {
  padding-left: 1em;
}

.h3-toc {
  padding-left: 2em;
}

.h4-toc {
  padding-left: 3em;
}

.h5-toc {
  padding-left: 4em;
}

.h6-toc {
  padding-left: 5em;
}

.list-depth-1 {
  font-weight: 900;
  padding-left: 1em;
  font-size: 1.3rem;
}

.list-depth-2 {
  font-weight: 700;
  padding-left: 2em;
  font-size: 1rem;
}

.list-depth-3 {
  padding-left: 3em;
}

.list-depth-4 {
  padding-left: 4em;
}

.list-depth-5 {
  padding-left: 5em;
}

.list-depth-6 {
  padding-left: 6em;
}

#home-banner-title {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

#home-banner-subtitle {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

#home-banner-subtitle {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

#home-banner-border {
  animation-name: scale-in;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

#home-new-post-container {
  animation-name: slide-in-left;
  animation-duration: 2000ms;
  animation-delay: 1500ms;
  animation-fill-mode: backwards;
}

#home-new-post-title {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 1200ms;
  animation-fill-mode: backwards;
}

#home-new-post-card {
  animation-name: slide-in-left;
  animation-duration: 2000ms;
  animation-delay: calc(var(--index) * 200ms);
  animation-fill-mode: backwards;
}

/*#header {
  animation-name: fade-in;
  animation-duration: 2000ms;
}*/

.fade-in-animation {
  animation-name: fade-in;
  animation-duration: 1000ms;
}

#mobile-navbar {
  animation-name: slide-in-down;
  animation-duration: 500ms;
}

#about-title {
  animation-name: fade-in;
  animation-duration: 2000ms;
}

#about-subtitle {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

#about-profile-image {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.about-main-fade-in {
  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 2000ms;
  animation-fill-mode: backwards;
}

#article-title {
  animation-name: fade-in;
  animation-duration: 1000ms;
}

#article-updated {
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

#article-toc {
  animation-name: slide-in-up;
  animation-duration: 1000ms;
  animation-delay: 600ms;
  animation-fill-mode: backwards;
}

#article-content {
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;

}

#article-author {
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-delay: 800ms;
  animation-fill-mode: backwards;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes slide-in-left {
  from {
    translate: -100vw 0 0 ;
  }
  to {
    translate: 0 0 0;
  }
}

@keyframes slide-in-right {
  from {
    translate: 100vw 0 0 ;
  }
  to {
    translate: 0 0 0;
  }
}

@keyframes slide-in-down {
  from {
    translate: 0 -100vh 0;
  }
  to {
    translate: 0 0 0;
  }
}

@keyframes slide-in-up {
  from {
    translate: 0 100vh 0;
  }
  to {
    translate: 0 0 0;
  }
}

.jumbo-gradient-home {
  background: radial-gradient(circle at 100% 0%, var(--gradient-accent-01), var(--background-color-01) 80%);
}